<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ArraySlice.Fody" version="0.5.11" targetFramework="net45" developmentDependency="true" />
  <package id="Fody" version="1.26.1" targetFramework="net45" developmentDependency="true" />
  <package id="ManagedCuda-65-Standalone" version="6.5.25" targetFramework="net45" />
  <package id="MathNet.Numerics" version="3.3.0" targetFramework="net45" />
  <package id="Seterlund.CodeGuard" version="2.3.4" targetFramework="net45" />
</packages>